.dhide{ display:none!important;}
.mlogo{ display: flex;}
.search__form { display:flex;}
.langimg{ width:70px; height:auto!important;}
.micon{ margin: 0 auto;}

@media screen and (max-width: 768px) {
	.dhide{ display:flex !important;}
.mlogo{ width:150px !important; height:auto!important; margin-top:0px; margin-left: -5px;}
.langimg{ width:60px !important; height:auto!important; margin-top: 5px; margin-left: -5px;}
.micon{ width: 32px; height: 32px; margin: 0 auto;}
.hashtag { overflow-x: hidden;  }
.hashtag ul {
    overflow-x: scroll;
  }
  .search__form {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: .5em;
}
}
/* ----Scroll To Top css----------- */
.top-btn {
  font-size: 1.4rem;
  width: 3rem;
  height: 3rem;
  color: #fff;
  /* background-color: ${({ theme }) => theme.colors.btn};
  box-shadow: ${({ theme }) => theme.colors.shadow}; */
  /* background-color: #1e526b; */
  border-radius: 50%;
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &--icon {
    animation: gototop 1.2s linear infinite alternate-reverse;
  }
  @keyframes gototop {
    0% {
      transform: translateY(-0.5rem);
    }
    100% {
      transform: translateY(1rem);
    }
  }
}
@media (max-width: 600) {
  .top-btn {
    right: 0;
    left: 40%;
  }
}